<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Tailspin.SpaceGame.Web.Models" value="https://pkgs.dev.azure.com/Vivekv0288/d1f0943d-e99d-40fc-ac9a-864c105b60e5/_packaging/Tailspin.SpaceGame.Web.Models/nuget/v3/index.json" />
    <add key="Tailspin.SpaceGame.Web.Model" value="https://pkgs.dev.azure.com/vishwajeetSingh/5204c6e6-6beb-41ad-9a94-ab859e526477/_packaging/Tailspin.SpaceGame.Web.Models/nuget/v3/index.json" />
  </packageSources>
</configuration>